/* .main-container{
    justify-content: space-around;
    width: 80vw;
} */

.loader{
    position: relative;
    display: flex;
}

.loader span{
    position: relative;
    width: 20rem;
    height: 20rem;
    background-color: #fbfbfb;
    border: 6px solid #fbfbfb;
    border-radius: 50%;
    box-shadow: -8px -8px 15px white, 8px 8px 25px #0000002b;
    overflow: hidden;
}

.loader span::before{
    content: '';
    position: absolute;
    inset:0;
    border-radius: 50%;
    box-shadow: inset 10px 10px 20px #0000002b, -5px -5px 15px white;
}


.loader span::after{
    content: '';
    position: absolute;
    inset:50px;
    background-color: #fbfbfb;
    border: 3px solid #fbfbfb;
    border-radius: 50%;
    box-shadow: -8px -8px 15px white, 
    8px 8px 25px #0000002b,
    inset 3px 3px 10px #0000002b,
    inset -1px -1px 15px white;
}

.loader span i{
    position: absolute;
    inset: 0;
    border-radius: 50%;
    filter: blur(5px);
    transition: 1s;
}

i:hover{
    transform: rotate(360deg);
}

.icon{
    position: absolute;
    color: #2aa6ff;
    font-size: 3rem;
    inset: 50px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}